<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{ url_for('static',filename='images/new0.jpg') }}" alt="Graded Image 1" height = 50% width = 50%>
    <img src="{{ url_for('static',filename='images/new1.jpg') }}" alt="Graded Image 2" height = 50% width = 50%>
    <img src="{{ url_for('static',filename='images/new2.jpg') }}" alt="Graded Image 3" height = 50% width = 50%>
    <a href="{{ url_for('home') }}">Start Over</a>
</body>
</html>